@import 'src/styles/variables';
@import 'src/styles/mixins';

.root {
  display: flex;
  // height: 20px !important;
  height: 100%;
  align-items: center !important;
}
.main-logo {
  height: 100% !important;
  // height: 11px;
  // max-width: 120px;
  display: flex;
  align-items: center !important;
  // @include breakpoint('mobile') {
  //   height: 100%;
  //   max-width: 100%;
  // }
}
