@import './variables.scss';
@import './mixins.scss';
@import './global.scss';
@import './fonts.scss';
@import './bootstrap-reset';
@import './helpers';

body {
    position: relative !important;
}

.top {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 1300px;
}

.bot {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0;
    z-index: -1 !important;
    width: 100% !important;
    min-height: 1300px !important;
}