@import 'src/styles/variables';
@import 'src/styles/mixins';

.episodes-component-wrapper {
    background-color: $episodes;
    max-width: 100% !important;
    margin-bottom: 30px;
    min-height: 252px;
    max-height: 252px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include breakpoint('mobile') {
        max-width: 750px !important;
        margin: 0 auto 30px auto;
        flex-direction: row;
    }
    @include breakpoint('desktop') {
        width: 50%;
        min-height: 156px;
        max-height: 156px;
        max-width: 556px !important;
        margin: 0 0 30px 0;
    }
}

.episodes-text-content {
    padding: 32px 0 0 22px;
    @include breakpoint('mobile') {
        padding: 32px 0 32px 40px;
    }
}

.episodes-title {
    font-family: 'HK Grotesk Extra Bold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.episodes-text {
    font-family: 'HK Grotesk Regular', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    margin-bottom: 0;
}

.episodes-button {
    max-width: 118px;
    position: absolute;
    bottom: 25px;
    left: 21px;
    @include breakpoint('mobile') {
        position: static !important;
        height: 100% !important;
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.button-play {
    width: 100%;
    max-width: 54px;
}

.span {
    margin-right: 10px;
}