@import 'src/styles/variables';
@import 'src/styles/mixins';

.hero-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-outer {
  position: relative;
  padding: 0;
  height: 100%;
  min-height: 680px;
  overflow-x: hidden;
  @include breakpoint('mobile') {
    overflow-x: visible;
  }
}
.container-inner {
  max-width: 1100px !important;
  
}
.pic {
  width: 375px;
  position: absolute !important;
  top: 271px;
  right: -51px;
  overflow: hidden;
  @include breakpoint('small-mobile') {
    top: 200px;
  }
  @include breakpoint('mobile') {
    top: 0;
    right: 0;
  }
  @include breakpoint('tablet') {
    width: 600px;
  }
  @include breakpoint('desktop') {
    width: 917px;
  }
}

.background {
  position: absolute !important;
  top: 0 !important;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100% !important;
  min-height: 1300px !important;
}

.hero-title {
  font-size: 24px;
}

.container-slider {
  margin-top: 97px;
  position: relative;
  min-height: 285px;
  @include breakpoint('mobile') {
    margin-top: 250px;
  }
  @include breakpoint('tablet') {
    margin-top: 331px;
  }
}



